body {
    padding: 0px;
    background-color: ghostwhite;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    z-index: 999;
   
}
 
  .balloons {
    opacity: 40%;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    
   
  }
  
  .balloon-big {
    position: absolute;
    bottom: -20%;
    background-repeat: no-repeat;
    height:194px;
    width:194px;
    z-index: 999 !important;
  }
  
  .balloon-small {
    z-index: 999 !important;
    position: absolute;
    bottom: -20%;
    background-repeat: no-repeat;
    height:194px;
    width:194px;
  }
  
  #ball-1 {
    left: -5%;
    -webkit-animation: moveTopCurve 7.5s 2.4s infinite;
    -moz-animation: moveTopCurve 7.5s 2.4s infinite;
    -o-animation: moveTopCurve 7.5s 2.4s infinite;
    -ms-animation: moveTopCurve 7.5s 2.4s infinite;
    animation: moveTopCurve 7.5s 2.4s infinite;
  }
  
  #ball-2 {
    bottom: -45%;
    left: 5%;
    -webkit-animation: moveZigZag 7.5s 2.4s infinite;
    -moz-animation: moveZigZag 7.5s 2.4s infinite;
    -o-animation: moveZigZag 7.5s 2.4s infinite;
    -ms-animation: moveZigZag 7.5s 2.4s infinite;
    animation: moveZigZag 7.5s 2.4s infinite;
  }
  
  #ball-3 {
    left: 45%;
    -webkit-animation: moveTop 9.4s 6.3s infinite;
    -moz-animation: moveTop 9.4s 6.3s infinite;
    -o-animation: moveTop 9.4s 6.3s infinite;
    -ms-animation: moveTop 9.4s 6.3s infinite;
    animation: moveTop 9.4s 6.3s infinite;
  }
  
  #ball-4 {
    bottom: -25%;
    left: 55%;
    -webkit-animation: moveZigZagLeft 5.5s 3.4s infinite;
    -moz-animation: moveZigZagLeft 5.5s 3.4s infinite;
    -o-animation: moveZigZagLeft 5.5s 3.4s infinite;
    -ms-animation: moveZigZagLeft 5.5s 3.4s infinite;
    animation: moveZigZagLeft 5.5s 3.4s infinite;
  }
  
  #ball-5 {
    left: 95%;
    -webkit-animation: moveTop 12s 7.8s infinite;
    -moz-animation: moveTop 12s 7.8s infinite;
    -o-animation: moveTop 12s 7.8s infinite;
    -ms-animation: moveTop 12s 7.8s infinite;
    animation: moveTop 12s 7.8s infinite;
  }
  
  #ball-6 {
    bottom: -55%;
    left: 95%;
    -webkit-animation: moveTopLeftCurve 10s 4.6s infinite;
    -moz-animation: moveTopLeftCurve 10s 4.6s infinite;
    -o-animation: moveTopLeftCurve 10s 4.6s infinite;
    -ms-animation: moveTopLeftCurve  10s 4.6s infinite;
    animation: moveTopLeftCurve 10s 4.6s infinite;
  }
  
  @keyframes moveZigZag {
    0% {
      bottom: -30%;
      left: 55%;
    }
    20% {
      left: 60%;
    }
    40% {
      left: 55%;
    }
    60% {
      left: 60%;
    }
    80% {
      left: 55%;
    }
    100% {
      bottom: 100%;
      left: 60%;
    }
  }
  
  @keyframes moveZigZagLeft {
    0% {
      bottom: -30%;
      left: 5%;
    }
    20% {
      left: 12%;
    }
    40% {
      left: 5%;
    }
    60% {
      left: 12%;
    }
    80% {
      left: 5%;
    }
    100% {
      bottom: 100%;
      left: 12%;
    }
  }
  
  @keyframes moveTop {
    0% {
      bottom: -30%;
    }
    100% {
      bottom: 100%;
    }
  }
  
  @keyframes moveTopCurve {
    0% {
      bottom: -30%;
      transform: translateX(0%);
    }
    30% {
      transform: translateX(100%);
    }
    100% {
      bottom: 100%;
      transform: translateX(0%);
    }
  }
  
  
  @keyframes moveTopLeftCurve {
    0% {
      bottom: -30%;
      transform: translateX(0%);
    }
    30% {
      transform: translateX(-50%);
    }
    100% {
      bottom: 100%;
      transform: translateX(0%);
    }
  }